.introduction-container {
  margin-bottom: 0.9rem;
}

.introduction-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #4f4f4f;
}

.modal-content.instruction-modal {
  width: 60%;
  padding: 2rem;
}

.screenshot{
  justify-content: center;
  display: flex;
}

.screenshot-img {
  max-width: 85%;
}

.underline-text {
  text-decoration: underline;
}

.email-card-setup {
  background: #fff;
  color: #000;
  display: block;
  margin: 1rem 0;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.email-body {
  white-space: pre-line;
}


.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  margin-top: 1rem;
}

@media (max-width: 950px) {
  .modal-content.instruction-modal {
    width: 95%;
    padding: 1rem;
  }

  .email-card-setup {
    padding: 1rem;
  }
}