.email-card-setup {
    background: #fff;
    color: #000;
    display: block;
    margin: 1rem 0;
    padding: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.email-body {
    white-space: pre-line;
}